
@{
    ViewBag.Title = "Changpasswordmail";
    Layout = "~/Views/Login/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("Changpasswordmail", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h2 class="font-green">Change password</h2>
    <h4 class="hint"> Enter your personal Password : </h4>
    <br />

    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="password" placeholder="Entrez Password" name="Password0" required />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Nouveau Password</label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="password" placeholder="Entrez Nouveau Password" name="Password" pattern="^\S{8,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 8 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" oninvalid="this.setCustomValidity('required field')" required />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Confirmer nouveau Password</label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="password_two" placeholder="Confirmez Nouveau Password" name="Rpassword" pattern="^\S{8,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" oninvalid="this.setCustomValidity('required field')" required />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Token</label>
        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" id="token" placeholder="token" name="token" required />
    </div>
    <div class="form-actions">
        <button type="button" id="register-back-btn" class="btn green btn-outline" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
        <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Connecter</button>
    </div>

}



