@{
    Layout = null;
}


<div class="footer">
    <div class="row">
        <div class="col-xs-12">
            <a href="https://www.datainvoice.com" target="_blank">© 2016. DataInvoice. </a>
        </div>
    </div>
</div>