
@{
    ViewBag.Title = "Campagne";
    Layout = "~/Views/Campaigns/_CampaignLayout.cshtml";
    DataInvoice.SOLUTIONS.INVOICES.CAMPAIGN.Campaign Form = Model ?? new DataInvoice.SOLUTIONS.INVOICES.CAMPAIGN.Campaign();
}







    <div class="portlet light">
        <div class="portlet-body">






<i>...</i>


</div>
    </div>




