
@{
    Layout = null;
}

    <!-- BEGIN JUMBOTRON -->
<section class="jumbotron full-vh" data-pages="parallax">
    <div class="inner full-height">
        <!-- BEGIN SLIDER -->
        <div class="swiper-container" id="hero">
            <div class="swiper-wrapper">

                <!-- BEGIN SLIDE -->
                <div class="swiper-slide fit">
                    <!-- BEGIN IMAGE PARRALAX -->
                    <div class="slider-wrapper">
                        <div class="background-wrapper" data-swiper-parallax="30%">
                            <div data-pages-bg-image="/Content/assets/images/hero_5.jpeg" draggable="false" class="background"></div>
                        </div>
                    </div>
                    <!-- END IMAGE PARRALAX -->
                    <!-- BEGIN CONTENT -->
                    <div class="content-layer">
                        <div class="inner full-height">
                            <div class="container-xs-height full-height">
                                <div class="col-xs-height col-middle text-left">
                                    <div class="container">
                                        <div class="col-sm-6 col-sm-offset-3 text-center">
                                            <h1 class="light" data-swiper-parallax="-15%">
                                                Création de facture en ligne
                                            </h1>
                                            <p class="fs-12 font-arial hint-text">Une solution simple et rapide pour éditer et envoyer une facture.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END SLIDE -->
            </div>
            <!-- BEGIN ANIMATED MOUSE -->
            <div class="mouse-wrapper">
                <div class="mouse">
                    <div class="mouse-scroll"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SLIDER -->
</section>
<!-- END JUMBOTRON -->
