@{
    ViewBag.Title = "Home Page";
}



<section class="demo-hero-5" data-pages="parallax" data-pages-bg-image="/Content/assets/images/hero_5.jpeg">
    <div class="container-xs-height full-height">
        <div class="col-xs-height col-middle text-center">
            <h1 class="inner">La facturation en ligne simplifiée!</h1>
        </div>
    </div>
</section>



    <!-- BEGIN CONTENT SECTION -->
    <section class="bg-master-lightest p-b-85 p-t-75">
        <div class="container">
            <div class="md-p-l-20 md-p-r-20 xs-no-padding">
                <h5 class="block-title hint-text no-margin"></h5>
                <div class="row">
                    <div class="col-sm-5 col-md-4">
                        <h1 class="m-t-5">Une facturation simple et économique.</h1>
                    </div>
                    <div class="col-sm-7 col-md-8 no-padding xs-p-l-15 xs-p-r-15">
                        <div class="p-t-20 p-l-35 md-p-l-5 md-p-t-15">
                            <p>Créer et suivis le statut de vos factures sans avoir de connaissances dans ce domaine. Gérer vos devis et factures en lignes  directement depuis votre navigateur. </p>
                            <p class="hint-text font-arial small-text col-md-7 no-padding">Logiciel de facturation, génération de facture en ligne.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CONTENT SECTION -->











    <!-- BEGIN CONTENT SECTION -->
    <section class="p-b-85 p-t-75 p-b-65 p-t-55">
        <div class="container">
            <div class="md-p-l-20 xs-no-padding clearfix">
                <div class="col-sm-4 no-padding">
                    <div class="p-r-40 md-pr-30">
                        <h6 class="block-title p-b-5">Un service complet et Economique</h6>
                        <p class="m-b-30">Nous proposons tous un éventail d'outils et services poour vous aider dans votre activité.</p>
                        <p class="muted font-arial small-text col-sm-9 no-padding">Service de base est gratuit et sans conditions prenant en compte les besoins des petites structures</p>
                    </div>
                    <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
                </div>
                <div class="col-sm-4 no-padding">
                    <div class="p-r-40 md-pr-30">
                        <h6 class="block-title p-b-5">Paiement en ligne</h6>
                        <p class="m-b-30">Permettez à vos client de payer en ligne sur notre plaforme à la réception de leurs factures</p>
                        <p class="muted font-arial small-text col-sm-9 no-padding"> Payment avec Paypal </p>
                    </div>
                    <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
                </div>
                <div class="col-sm-4 no-padding">
                    <div class="p-r-40 md-pr-30">
                        <h6 class="block-title p-b-5">Intégration </h6>
                        <p class="m-b-30">Automatisez les facturations récurentes et les relances en cas de non paiement</p>
                        <p class="muted font-arial small-text col-sm-9 no-padding">Connecteur API Rest, Prestashop, magento, ...</p>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- END CONTENT SECTION -->




<!-- BEGIN CONTENT SECTION -->
<section class="bg-master-lightest p-b-85 p-t-75 no-overflow">
    <div class="container">
        <div class="md-p-l-20 md-p-r-20 xs-no-padding">
            <h5 class="block-title hint-text no-margin"></h5>
            <div class="row">
                <div class="col-sm-5">
                    <h1 class="m-t-5 m-b-20">Créer votre première facture</h1>
                    <p class="m-b-20"> Créer votre première facture gratuitement et sans inscription en 30 secondes.  </p>
                    <p class="hint-text font-arial small-text col-md-8 no-padding"></p>
                    <a href="@Url.Action("Index","DirectInvoice")" class="btn btn-primary"> Créer une facture en ligne </a>
                </div>
                <div class="col-sm-7 no-padding xs-p-l-15 xs-p-r-15">
                    <div class="content-mask-md">
                        <div class="">
                            <a href="@Url.Action("Index","DirectInvoice")">
                                <img alt="" class="xs-image-responsive-height image-responsive-width  pull-right" src="https://dl.sellsy.com/images_blog/1f7a0ff052648b8a2cd3b1e1d544fe35.jpg" style="width:300px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTENT SECTION -->




<!-- 
    <section class="p-b-85 p-t-75 ">
        <div class="swiper-container" id="testimonials_slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h3 class="text-center">
                                Our motivation "Perfection simplified" helps to
                                craft meaningful experiences for the people around us, This mission inspires us
                                to jump out of bed each day and guides every aspect of what we
                                do.
                            </h3>
                            <img alt="" class="m-t-20" src="/Content/assets/images/signature_sample.png">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h3 class="text-center">
                                The dashboard will synergize with the colour selection made by the user and appropriately amend. Similarly, all other elements will sync according to the base colours.
                            </h3>
                            <img alt="" class="m-t-20" src="/Content/assets/images/signature_sample.png">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h3 class="text-center">
                                Given our emphasis on operational efficiency and optimization, we have focused heavily on GPU performance with animation to ensure an ultra smooth and fast User Experience.
                            </h3>
                            <img alt="" class="m-t-20" src="/Content/assets/images/signature_sample.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination relative p-t-20"></div>
        </div>
        
    </section> -->
