
@{
    ViewBag.Title = "Pricing";
}
<!-- BEGIN PRICING SECTION -->
<section class="demo-hero-5" data-pages="parallax" data-pages-bg-image="assets/images/hero_2.jpeg">
    <div class="container-xs-height full-height">
        <div class="col-xs-height col-middle text-center">
            <h1 class="inner p-b-50 m-b-20">Nos Abonnements</h1>
        </div>
    </div>
</section>
<section class="p-b-75">
    <!-- REMOVE .pricing-layout-overflow-top to avoid top overflow -->
    <div class="container pricing-layout-overflow-top">
        <div class="p-l-30 p-r-30 m-t-30">
            <div class="row">






                <div class="col-sm-6 p-l-5 p-r-5">
                    <div class="pricing-heading m-t-45">
                        <div class="bg-menu p-t-60 p-b-60">
                            <h1 class="text-center text-white m-b-25 font-montserrat">
                                0€
                            </h1>
                            <p class="hint-text text-center text-white">
                                Gratuit, pour toujours!
                            </p>
                        </div>
                        <div class="bg-master-lighter p-t-20 p-b-20">
                            <h5 class="block-title text-center no-margin">
                                Compte Gratuit
                            </h5>
                        </div>
                    </div>
                    <div class="pricing-details p-t-30 p-l-40 p-r-40 md-p-l-20 md-p-r-20">
                        <ul class="no-style">
                            <li class="text-black fs-16 normal m-b-25">
                                Création & sauvegarde des factures  <span class="bold">illimités</span>
                            </li>
                            <li class="text-black fs-16 normal m-b-25">
                                Envoi des factures par <span class="bold">Mail</span>
                            </li>
                            <li class="text-black fs-16 normal m-b-25">
                                Gestion des <span class="bold">Relances</span> (Mail)
                            </li>
                            <li class="text-black fs-16 normal m-b-25">
                                <span class="bold">1</span>  Utilisateur
                            </li>
                            <li class="text-black fs-16 normal m-b-25">
                                &nbsp;
                            </li>
                            <li class="text-black fs-16 normal m-b-25">
                                &nbsp;
                            </li>

                        </ul>
                        <p class="small-text hint-text">
                            
                        </p>
                        <br /><br />
                        <a class="btn btn-primary btn-block"> ouvrir un compte </a>
                    </div>
                </div>





                <!--
    <h5 class="block-title text-center text-white no-margin">
        Recommended
    </h5>
    -->





                <div class="col-sm-6 p-l-5 p-r-5">
                    <div class="pricing-heading m-t-45">
                        <div class="bg-menu p-t-60 p-b-60">
                            <h1 class="text-center text-white m-b-25 font-montserrat">
                                19€/ans
                            </h1>
                            <p class="hint-text text-white text-center">
                                Services Entreprises 

                            </p>
                        </div>
                        <div class="bg-master-lighter p-t-20 p-b-20">
                            <h5 class="block-title text-center no-margin">
                                Compte Entreprise
                            </h5>
                        </div>
                    </div>
                    <div class="pricing-details p-t-30 p-l-40 p-r-40 md-p-l-20 md-p-r-20">
                        <ul class="no-style">
                            <li class="text-black fs-16 normal m-b-25">
                                Création & sauvegarde des factures  <span class="bold">illimités</span>
                            </li>
                            <li class="text-black fs-16 normal m-b-25">
                                Envoi des factures par <span class="bold">Mail ou Courrier*</span>
                            </li>
                            <li class="text-black fs-16 normal m-b-25">
                                Gestion des <span class="bold">Relances</span> (Mail,SMS*,Courrier*)
                            </li>
                            <li class="text-black fs-16 normal m-b-25">
                                <span class="bold">Multi</span>-Utilisateurs
                            </li>
                            <li class="text-black fs-16 normal m-b-25">
                                Synchronisation Sharepoint, GoogleDrive, Dropbox, ...
                            </li>
                            <li class="text-black fs-16 normal m-b-25">
                                Crédit de 5€ inclus pour les SMS/Courriers
                            </li>


                        </ul>

                        <br /><br />
                        <p class="small-text hint-text">
                            bientôt disponible...
                        </p>
                    </div>
                </div>



            </div>

            <div class="row">

                <br /><br /><br />

                <i style="font-size:x-small;">* Service soumis à des coûts supplémentaires</i>

              
                <br /><br />
                <div>
                    <h5>Coûts supplémentaires :</h5>
                    <p>Envoi d'un SMS : 0.08 Euro/SMS</p>
                    <p>Envoi d'un Courrier postal (Laposte) : 1 Euro/Lettre</p>
                </div>
                <br />


            </div>

        </div>
    </div>
</section>
<!-- END PRICING SECTION -->

